modules = ["nodejs-20", "postgresql-16"]

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 39339
externalPort = 3003

[[ports]]
localPort = 44977
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start:prod"]
ignorePorts = true

[agent]
expertMode = true
integrations = ["javascript_object_storage:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run"
author = 44659200
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[nix]
channel = "stable-25_05"
packages = ["jq"]

[objectStorage]
defaultBucketID = "replit-objstore-eff1b6bc-faa1-48ef-ba40-694ef25d01d6"
